[submodule ".registry"]
	path = .registry
	url = https://github.com/klmr/klmr.r-universe.dev
	branch = HEAD
[submodule "aka"]
	path = aka
	url = https://github.com/klmr/aka
	branch = main
[submodule "box"]
	path = box
	url = https://github.com/klmr/box
	branch = build
[submodule "rprofile"]
	path = rprofile
	url = https://github.com/klmr/rprofile
	branch = main
[submodule "unpack"]
	path = unpack
	url = https://github.com/klmr/unpack
	branch = main
