[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "box"]
	path = box
	url = https://github.com/klmr/box
	shallow = true
